body, h1, p {
	margin: 0;
}

:root {
	--avatar-size: 5em;
	--page-back-color: lightskyblue;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	color: white;
	background-color: var(--page-back-color);
}

main {
	height: 75vh;
	min-height: 550px;
	width: 90%;
	max-width: 500px;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

/* container box */
main::before {
	content: '';
	width: 100%;
	height: calc(100% - var(--avatar-size));
	position: absolute;
	top: var(--avatar-size);
	background-color: steelblue;
	border-radius: 0.5em;
	z-index: -1;
	box-shadow: -4em 0 6em -6em black,
				4em 0 6em -6em black;
}

main > * {
	display: flex;
	align-items: center;
	justify-content: center;
}

.name {flex: 50;}
.nickname {flex: 5;}
.summary {flex: 5;}
.description {flex: 20;}
.links {flex: 20;}

.name {
	width: 100%;
	letter-spacing: 0.1em;
	text-align: center;
	font-weight: normal;
	position: relative;
	top: 3em;
}

/* avatar  */
.name::before {
	content: '';
	width: var(--avatar-size);
	height: var(--avatar-size);
	background: url(images/avatar.jpg) no-repeat;
	background-size: var(--avatar-size);
	border-radius: 50%;
	position: absolute;
	top: -25%;
	box-shadow: 0 0 0.2em 0.1em hsl(0, 0%, 0%, 20%);
}

.nickname,
.summary {
	font-size: 1.1em;
}

.description p {
	text-align: center;
	font-weight: lighter;
	line-height: 2em;
}

.description p a {
	color: inherit;
	text-decoration: underline wavy var(--page-back-color);
}

.description p a:hover {
	text-decoration: underline wavy deepskyblue;
}

.links {
	width: 50%;
	justify-content: space-around;
}

.links a {
	width: 2em;
	height: 2em;
	background: var(--url) no-repeat;
	background-size: 2em;
	text-indent: -1000em;
	transition: 0.3s;
}

.links a.github {--url: url(images/github.svg);}
.links a.codepen {--url: url(images/codepen.svg);}
.links a.weibo {--url: url(images/weibo.png);}
.links a.segmentfault {--url: url(images/segmentfault.png);}

.links a:hover {
	transform: scale(1.2);
}

@media (max-width: 400px) {
	:root {
		--avatar-size: 4em;
	}

	.description p {
		font-size: 0.8em;
	}

	.links {
		width: 75%;
	}
}
